---
import Service from "@components/ui/Service.astro";
const services: MahoyService[] = Astro.props.services;
const link = Astro.props.link;
---

<section
  id=`${link.toLowerCase()}`
  class="w-full min-h-dvh flex flex-col bg-white py-7 gap-1"
>
  <h2
    class="ml-7 text-4xl font-semibold bg-clip-text bg-gradient-to-br from-secondary to-primary text-transparent"
  >
    {link}
  </h2>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 py-7">
    {services.map((service) => <Service service={service} />)}
  </div>
</section>
