---
const link: string = Astro.props.link;
---

<li>
  <a
    class="relative
    after:content-[''] after:absolute after:-bottom-1 after:left-0
    after:w-0 after:h-0.5 after:bg-slate-950
    after:transition-all after:duration-300
    hover:after:w-full"
    href=`#${link.toLowerCase()}`>{link}</a
  >
</li>
