---
const { description, icon, title }: MahoyService = Astro.props.service;
---

<article
  class="w-[270px] min-h-[300px] col-span-1 border-[1px] border-slate-300 rounded-2xl bg-primary my-2 flex flex-col p-5 mx-auto gap-7 hover:shadow-2xl transition-shadow duration-300 animation-reveal"
>
  <div class="flex items-center gap-3 my-3">
    <span class="bg-secondary rounded-lg text-md p-2">
      <p>
        {icon}
      </p>
    </span>
    <h3 class="font-bold">
      {title}
    </h3>
  </div>
  <p class="text-balance text-center">
    {description}
  </p>
</article>
